services:
  frontend:
    build:
      context: .
      dockerfile: local.Dockerfile
    container_name: frontend
    image: frontend-kentondavey
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    restart: always
