name: Publish Production Image to GHCR

on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string

permissions:
  packages: write
  contents: read

env:
  CONTAINER_NAME: kentondavey-frontend
  REGISTRY: ghcr.io
  ORG: then-again

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker Image
        run: |
          TAG_NAME=${{ inputs.tag }}
          echo "Building Docker image for tag: $TAG_NAME"
          docker build -t ${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.CONTAINER_NAME }}:$TAG_NAME .

      - name: Push Versioned Image
        run: |
          TAG_NAME=${{ inputs.tag }}
          docker push ${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.CONTAINER_NAME }}:$TAG_NAME

      - name: Push Latest Image
        run: |
          TAG_NAME=${{ inputs.tag }}
          docker tag \
            ${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.CONTAINER_NAME }}:$TAG_NAME \
            ${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.CONTAINER_NAME }}:latest
          docker push ${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.CONTAINER_NAME }}:latest
